* {
	margin: auto;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
	font-weight: bold;
}

/* General css  */
body {
	width:100%;
	margin: 0 auto;
	padding: 1rem;
}

header {
	text-align: center;
}


#brand {
	width: 150px;
	height: 150px;
	border: 0.5rem dotted #d32be2;
	border-radius: 50%;
	margin-bottom: 1rem;
}

#navbar {
	background: #000000;
	width: 20rem;
	min-width: 50%;
	border-radius: 0.5rem;
	margin: 1rem auto;
	text-align: center;
	padding: 1rem;
	position: sticky;
	top: 0;
	overflow: hidden;
	
}


#navbar a {
	font-size: 1.25rem;
	text-decoration: none;
	padding: 2rem 1rem;
	color: #ffffff;
}

#navbar a:hover {
	background: #ffffff;
	transition: .3s ease;
	color: #000000;
	font-weight: bold;
}


#navbar a.active{
	background: #ffffff;
	color: #000000;
	
}

#title {
	margin: 1rem auto;
}

#skills,
#services,
.content {
	margin: 2rem auto;
	width: 28.125rem;
	min-width: 50%;
}
.body {
	margin-top: 1rem;
	width: 100%;
}
footer {
	position: sticky;
	bottom: 0;
	background: #000000;
	color: #ffffff;
	text-align: center;
	margin: auto;
	margin-top:4rem ;
	padding: 0.5rem;
	width: 28rem;
	min-width: 50%;
}




/* Home css  */
.gallery {
	width: 100%;
	text-align: center;
}

.gallery img {
	width: 16rem;
	transition: 0.4s ease all;
}

.gallery img:hover {
	width: 17rem;
}



 /* ABOUT CSS  */

 #skills {
	padding: 2rem;
 }

 #skills h2 {
	margin: 1rem 0;
	font-weight: bold;
 }

 .display-pic {
	text-align: center;
 }

 .about {
	text-align: center;
 }

 .btn {
	width: 6rem;
	padding: 1rem;
	background-color: #d32be2;
	border-radius: 0.2rem;
	transition: .3s ease all;
	/* margin: 0 0.5rem; */
 }

 #services .button,
 #services h2 {
	text-align: center;
	margin: 1rem 0;
 }


 #services .btn:hover {
	background: #000000;
	color: #ffffff;
	font-weight: bold;
	padding: 1.2rem 1rem;
 }